/* ===========================
   首页背景
=========================== */

#homepage-wallpaper{

    position:fixed;

    inset:0;

    z-index:-20;

    background-size:cover;

    background-position:center;

}

/* 黑色遮罩 */

#homepage-wallpaper::after{

    content:"";

    position:absolute;

    inset:0;

    background:rgba(0,0,0,.35);

}

/* 黑色遮罩 */

body.home::before{

    content:"";

    position:fixed;

    inset:0;

    background:rgba(0,0,0,.18);

    z-index:-9;

}


/* ===========================
   HomeInfo
=========================== */

.first-entry.home-info{

    max-width:768px;      /* 恢复 PaperMod 默认宽度 */

    margin:40px auto;     /* 上下间距缩小 */

    padding:20px 30px;    /* 高度明显降低 */

    border-radius:18px;

    backdrop-filter:blur(12px);

    background:rgba(255,255,255,.45);

    box-shadow:0 8px 30px rgba(0,0,0,.18);

}

/* 深色模式 */

.dark .first-entry.home-info{

    background:rgba(25,25,25,.60);

}


/* 标题 */

.first-entry.home-info h1{

    font-size:2.3rem;

    text-align:center;

}


/* 副标题 */

.first-entry.home-info .entry-content{

    text-align:center;

    line-height:1.9;

}


/* 首页离顶部远一点 */

.main{

    padding-top:40px;

}