{{ if .IsHome }}

<script>

fetch("/wallpapers.json")
.then(res => res.json())
.then(wallpapers => {

    if (!wallpapers.length) return;

    // 打乱数组
    wallpapers.sort(() => Math.random() - 0.5);

    let current = 0;

    const bg = document.createElement("div");
    bg.id = "homepage-wallpaper";
    document.body.prepend(bg);

    function preload(url) {
        const img = new Image();
        img.src = url;
    }

    function changeWallpaper() {

        const url = `/images/wallpapers/${wallpapers[current]}`;

        preload(url);

        bg.style.opacity = 0;

        setTimeout(() => {
            bg.style.backgroundImage = `url("${url}")`;
            bg.style.opacity = 1;
        }, 400);

        current++;

        if(current >= wallpapers.length){

            wallpapers.sort(() => Math.random() - 0.5);

            current = 0;

        }

        preload(`/images/wallpapers/${wallpapers[current]}`);

    }

    changeWallpaper();

    setInterval(changeWallpaper, 10 * 60 * 1000);

});

</script>

{{ end }}